html .el-message-box {
  background: var(--g-body-bg-color);
  border-color: var(--g-home-link-border);
}
html .el-message-box__header {
  padding-bottom: 10px;
}
html .el-message-box__title {
  color: var(--g-body-text-color);
}
html .el-message-box__message {
  color: var(--g-body-text-color);
}
html .el-message-box__btns {
  padding-top: 14px;
}
html .el-message-box__btns .el-button--cancel {
  --el-button-bg-color: transparent;
  --el-button-border-color: var(--g-home-link-border);
  --el-button-text-color: var(--g-body-text-color);
  --el-button-hover-bg-color: transparent;
  --el-button-hover-border-color: var(--el-color-primary);
  --el-button-hover-text-color: var(--el-color-primary);
}
html .el-message-box__btns .el-button--cancel:hover {
  border-color: var(--el-color-primary);
  color: var(--el-color-primary);
}
html .el-message-box__btns .el-button--danger {
  --el-button-bg-color: #f56c6c;
  --el-button-border-color: #f56c6c;
}