html .el-radio-group {
  display: inline-flex;
}

html .el-radio-button__inner {
  background-color: rgba(0,0,0,0);
  border-color: var(--g-home-link-border);
  outline-color: var(--g-home-link-border);
  color: var(--g-body-text-color);
}

html .el-radio-button__inner:hover {
  border-color: var(--el-color-primary);
  color: var(--el-color-primary);
}

html .el-radio-button.is-active .el-radio-button__inner {
  background-color: var(--el-color-primary);
  border-color: var(--el-color-primary);
  color: #fff;
}

html .el-radio-button:first-child .el-radio-button__inner {
  border-radius: 4px 0 0 4px;
}

html .el-radio-button:last-child .el-radio-button__inner {
  border-radius: 0 4px 4px 0;
}